.slider-container {
  width: 100%;
  overflow: hidden;
}

.slider {
  width: 600%;
  display: flex; /* Assurez-vous que les images s'affichent en ligne */
  transition: transform 0.5s ease-in-out;
}

.slider img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
