
.slider-container {
  width: 700px;
}
.home-img-container {
  height: max-content;
  width: 100%;
}
.home-img-container img{
  object-fit: contain;
  height: 100%;
}
@media screen and (min-height: 800px){
  .slider-container {
    width: 600px;
  }
    
}
@media screen and (max-width: 700px) {
  .slider-container {
    width: 100%;
  }
    
}