.slider-container {
  width: 700px;
  overflow: hidden;
}

@media screen and (max-height: 800px){
  .slider-container {
    width: 600px;
  }
    
}
@media screen and (max-width: 700px) {
  .slider-container {
    width: 100%;
  }
    
}