/* InscriptionForm.css */

.inscription-form-container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #e0e8f0; /* Bleu clair pour le fond */
    border: 1px solid #336699; /* Bordure bleue principale */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-label {
    color: #336699; /* Bleu moyen pour les labels */
    display: block;
    margin-bottom: 15px;
  }
  
  .form-input,
  .form-file {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    color: black;
    box-sizing: border-box;
    border: 1px solid #336699; /* Bordure bleue principale */
    border-radius: 4px;
  }
  
  .form-button {
    background-color: #3498db;
    color: black;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .form-button:hover {
    background-color: #004489; /* Bleu très foncé au survol */
  }
  