.login-form-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .login-form-container form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border: 3px solid #1ee2fe;
    border-radius: 4px;
    gap: 40px;
    max-width: 80%; /* 80% de la largeur de l'écran */
    width: 800px; /* Largeur fixe du formulaire */
    margin: 0 auto; /* Centrage horizontal */
    height: 80vh; /* 80% de la hauteur de l'écran */
    justify-content: center; /* Centrage vertical */
  }
  .login-form-container .text {
    font-size: 45px;
    color: #1ee2fe;
  }