
  .table-container {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    width: 100%;
  }

  table {
    border: 5px solid white;
    width: 100%;
    background-color: white;
  }
  
  th, td {
    border: 1px solid white;
    padding: 8px;
    text-align: center;
  }
  /* Maison.css */
/* Style pour les premiers <td> de chaque ligne */
.table-container td:first-child {
  font-weight: 600;
  background-color: #2685d8; /* Bleu */
  color: white; /* Texte en blanc */
  padding: 5px; /* Espace autour du texte */
}

/* Style pour les deuxièmes <td> de chaque ligne */
tr td:nth-child(2) {
  background-color: #cfe9ff; /* Couleur blanche pour le deuxième <td> */
}

tr:nth-child(odd) td:nth-child(2) {
  background-color: #a8d6ff; /* Couleur rouge pour les deuxièmes <td> des lignes impaires */
}

  .select-container select option:first-child {
    display: none;
  }
/* Utilisation de Flexbox pour gérer la largeur des colonnes */
tr {
    display: flex;
  }
  td {
    display: flex;
  }
  td:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  td:first-child {
    flex: 1; /* La première colonne prend tout l'espace */
  }
  
  td:not(:first-child) {
    flex: 1; /* Les autres colonnes prennent 50% de l'espace */
  }
  /* Styles pour les détails de la maison sélectionnée */
  .options-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .location-button {
    background-color: #1e9dfe;
    /* color: white; */
    border: none;
    padding: 15px 0px;
    margin-bottom: 40px;
    text-align: center;
    width: 15rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .location-button:hover {
    background-color: #009fb8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .submit-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
  }
  .submit-button img {
    margin-top: 1rem;
  }
  .submit-button p {
    font-size: 20px;
  }
@media screen and (max-width: 400px) {
  table {
    border: 1px solid white;
  }
}
  
  
  
  

  
  
  

