.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 0px 5rem;
}
@media screen and (max-width: 1000px) {
    .App {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        padding: 0px 2rem;
    } 
}
@media screen and (max-width: 500px) {
    .App {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        padding: 0px 1rem;
    } 
}